---
layout: layouts/base.njk
---

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <article class="section">
          <div class="container">
            <h1 class="title is-size-5">
              My motivation
            </h1>
            <p>
              This website was created to allow me to share my thoughts about everything I do in life
              with anyone that wants to read it. 
            </p>
          </div>
        </article>
        <article class="media notification">
          <figure class="media-left">
            <p class="image is-64x64">
              <img class="is-rounded" src="/images/portrait-me.jpg" />
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>David Billdal</strong><br />
                <span class="has-text-grey is-size-6 is-size-7-mobile"
                  >Tech Consultant and Outdoor Nerd<br />
                  Based out of Munich, Germany
                </span>
              </p>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</section>
