<nav class="navbar has-background-primary-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="icon-text">
        <span class="icon">
          <i class="fa-solid fa-blog block"></i>
        </span>
        <span>Home</span>
      </span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> My Blogs </a>
        {%- for post in collections.posts -%}
        <div class="navbar-dropdown">
          <a href="{{ post.url | url }}" class="navbar-item">
            {{ post.data.title }}
          </a>
        </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/about">
        <span>About</span>
      </a>
    </div>
  </div>
</nav>
