---
layout: layouts/base.njk
---

<article>
  <section class="hero has-background-primary-light">
    <div class="hero-body">
      <h1 class="title is-1">{{ title }}</h1>
      <p class="subtitle">
        {{ page.date.toDateString() }}
      </p>
    </div>
  </section>
  <section class="section">
    <div class="container content">
      {{ content | safe }}
    </div>
  </section>
</article>
